<h2>This is a restaurant show page!!</h2>
  <div data-restaurant="vm.restaurant">
    <img data-ng-src="{{showVM.restaurant.photo_url}}" />
    <h3>{{showVM.restaurant.name}}</h3>
  </div>

  <div class="cardlist">
    <div data-ng-repeat="food in showVM.foods">
      <p>{{food.name}}</p>
      <img class="img-rounded" ng-src="{{food.photo_url}}" ng-click="showVM.ingredientlist = food.ingredients"></img>
    </div>
  </div>

  <section ng-init="tab = 1">
    <ul class="nav nav-pills">
      <li ng-class="{ active:tab === 1}"> <a href ng-click="tab = 1"> Info </a> </li>
      <li ng-class="{ active:tab === 2}"> <a href ng-click="tab = 2"> Ingredients </a> </li>
      <li ng-class="{ active:tab === 3}"> <a href ng-click="tab = 3"> Gotchas </a> </li>
      <li ng-class="{ active:tab === 4}"> <a href ng-click="tab = 4"> Ratings </a> </li>
      <li ng-class="{ active:tab === 5}"> <a href ng-click="tab = 5"> Comments </a> </li>
    </ul>
  </section>

  <div class="panel" ng-show="tab === 1">
    <h4>Info</h4>
    <p>{{showVM.restaurant.info}}</p>
  </div>
  <div class="panel" ng-show="tab === 2">
    <h4>Ingredients</h4>
    <p ng-repeat="ingredient in showVM.ingredientlist track by $index">{{ingredient}}</p>
  </div>
  <div class="panel" ng-show="tab === 3">
    <h4>Ingredients</h4>
    <p>A Gotcha is something you think is vegan, but the restaurant added non-vegan products to it, so that it is no longer vegan.</p>
  </div>
  <div class="panel" ng-show="tab === 4">
    <h4>Ratings</h4>
    <p>No Ratings yet.</p>
  </div>
  <div class="panel" ng-show="tab === 5">
    <h4>Comments</h4>
    <p>No comments yet. </p>
  </div>
