<div data-ng-switch="formMethod">
  <h2 data-ng-switch-when="edit">Edit this restaurant</h2>
  <h2 data-ng-switch-default>Add a restaurant</h2>
</div>

<div class="formcontainer">
  <fieldset class="input-group">
    <input type="text" placeholder="Name" class="form-control" data-ng-model="restaurant.name" id="name" />
  </fieldset>
  <fieldset class="input-group">
    <input type="text" placeholder="Info" class="form-control" data-ng-model="restaurant.info" id="info" />
  </fieldset>
  <fieldset class="input-group">
    <input type="text" placeholder="Category" class="form-control" data-ng-model="restaurant.category" id="category" />
  </fieldset>
  <fieldset class="input-group">
    <input type="text" placeholder="Photo URL" class="form-control" data-ng-model="restaurant.photo_url" id="photo_url" />
  </fieldset>
  <fieldset class="input-group">
    <input type="text" placeholder="Gotchas" class="form-control" data-ng-model="restaurant.gotchas" id="gotchas" />
  </fieldset>

  <div data-ng-switch="formMethod">
    <button data-ng-switch-when="edit" type="button" class="btn btn-primary btn-block" data-ng-click="update()">Edit</button>
    <button data-ng-switch-default type="button" class="btn btn-primary btn-block" data-ng-click="create()">Submit</button>
  </div>

</div>
