<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

<div class="jumbotron">
  <h1>Viva la Vegan</h1>
  <h2><a data-ui-sref="index" href="#">restaurant index page</a></h2>
</div>

<main data-ui-view></main> -->
