<div class="container" data-ng-app="veganapp">
  <h1><a href="/restaurants">Vegan App</a></h1>
  <h2><a data-ui-sref="index" href="#">go to restaurant index page.</a></h2>
  <main data-ui-view></main>
</div>
