@import "bootstrap-sprockets";
@import "bootstrap";


/*Colors*/


/* Main header */

body {
  text-align: center;
}

img {
  margin: 10px;
  height: 170px;
  width: 170px;
}

.jumbotron {
background-image: url("http://i.imgur.com/xEUHEQB.jpg");
background-size: cover;
}


.cardlist {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Restaurant index page */

.allnav {
  padding: 5px, 0px;
  text-align: center;
}
.filtercat li {
  padding: 0px 10px;
}
.restimg{
  width:100px;
  height:100px;
}
.toolbar
{
  position: relative;
  display: table;
}

.toolbar > div
{
  display: table-cell;
  padding-right: 8px;
  vertical-align: top;
}
.toolbar input[type="text"] {
   height: 38px;
   line-height: 14px;
   border: 0;
}

/* Restaurant show page */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
  max-height: 200px;
}
.info_box {
  width: 50%;
  padding: 20px;
}
.info_gotchas {
  width: 50%
}
.infobtns {
  margin: 10px;
}


/* Food index page */

.cardstyle{
  margin: 10px 5px;
  max-width: 205px;
  border: 1px solid rgb(198, 204, 194);
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  padding: 0px 2px;
}
#titlewrap{
  word-wrap: break-word;
}
