@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
}

img {
  margin: 10px;
  height: 170px;
  width: 170px;
}

input{
   text-align:center;
}

.jumbotron {
background-image: url("https://static.pexels.com/photos/65174/pexels-photo-65174.jpeg");
background-size: cover;
  h1 {
  font-family: 'Tillana', cursive;
  font-size: 75px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.5);
  }
  h1 a{
    text-decoration:none;

  }
  h1 a:visited {
    color: rgb(255,64,129);
  }
  h1 a:hover {
    color: rgb(194,24,91);
  }
  h1 a:active {
    color: rgb(255,64,129);
  }
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.formcontainer {
  display: flex;
  flex-direction: row;
}

/* Restaurant index page */

.allnav {
  padding: 5px, 0px;
  text-align: center;
}
.filtercat li {
  padding: 0px 10px;
}
.restimg{
  width:100px;
  height:100px;
}
.toolbar
{
  position: relative;
  display: table;
}

.toolbar > div
{
  display: table-cell;
  padding-right: 8px;
  vertical-align: top;
}
.toolbar input[type="text"] {
   height: 38px;
   line-height: 14px;
   border: 0;
}

.input-group-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-group-btn * {
  margin: 5px;
}



/* Restaurant show page */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
  max-height: 200px;
}
.info_box {
  width: 50%;
  padding: 20px;
}
.info_gotchas {
  width: 50%
}
.infobtns {
  margin: 10px;
}


/* Food index page */

.cardstyle{
  margin: 10px 5px;
  max-width: 205px;
  border: 1px solid rgb(198, 204, 194);
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  padding: 0px 2px;
}
#titlewrap{
  word-wrap: break-word;
}
