@import "bootstrap-sprockets";
@import "bootstrap";


/*Colors*/


/* Main header */
body {
  text-align: center;
}

.jumbotron {

}
/* Index page*/

.cardlist {
  margin: 20px 0px;
  .cards {
    border: 5px solid blue;
    margin: 20px 15px;
    height: 200px;
  }
}


/* Show page */
img {
  height: 175px;
  width: 175px;
}

/* Restaurant index page */
.logos{
  display: inline-flex;
}
